body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Castoro Titling', 'Rubik Wet Paint', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(110deg, #880808, #fb8876); */
  /* background: linear-gradient(90deg, #f4d4a1, 40%, #ed3022); */

  background: linear-gradient(217deg, rgba(244,212,161, .8), rgba(255,0,0,0) 70.71%), linear-gradient(127deg, rgba(136, 8, 8, .8), rgba(0,255,0,0) 70.71%), linear-gradient(336deg, rgba(237,48,34, .8), rgba(0,0,255,0) 70.71%);

  max-width: 100vw;

}
/* 
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 500rem;
  height: 500rem;
  z-index: -1;
  background: linear-gradient(217deg, rgba(244,212,161, .8), rgba(255,0,0,0) 70.71%), linear-gradient(127deg, rgba(136, 8, 8, .8), rgba(0,255,0,0) 70.71%), linear-gradient(336deg, rgba(237,48,34, .8), rgba(0,0,255,0) 70.71%);
  animation: hue-rotate 10s linear infinite;
}

@keyframes hue-rotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
} */
/* .animated{
  animation: rotate 1s ease-in-out infinite;
}

@keyframes rotate {
    0%{
      filter:hue-rotate(0deg) saturate(200%);
    }
    100%{
      filter:hue-rotate(360deg) saturate(100%);
    }
} */

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
    font-family: 'Rubik Wet Paint', cursive;
}


.party{
  position: absolute;
  top: 1.2rem;
  left: 20rem;
  padding:0.5rem;
  border: white solid 0.3rem;
  background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
  transition-duration: 0.8s;
}
.party:hover{
  transition-duration: 0.8s;
  filter: hue-rotate(360deg) saturate(200%);
  cursor: pointer;
}

